* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* The box-sizing property defines how the width and height of an element are calculated: should they include padding and borders, or not.*/ 
}

body {
  height: 100vh;
  color: white;
  background: #EBF2F5;
}

:root {
  font-size: 62.5%; /* 62.5% de 16px = 10px */
}

body,
input,
button,
textarea {
  font-weight: 400;
  line-height: 1;
  font-size: 1.8rem;
  font-family: "Nunito", sans-serif;
}
