* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  color: white;
}

:root {
  font-size: 62.5%; /* 62.5% de 16px = 10px */
}

body,
input,
button,
textarea {
  font-weight: 400;
  line-height: 1;
  font-size: 1.8rem;
  font-family: "Nunito", sans-serif;
}
